body {
    background-color: #fafafa;
}
body > .grid {
    height: 100%;
}
body > .grid > .column {
    max-width: 800px;
}
section > div {
    min-height: 300px;
    position: relative;
}
section > div > div {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

#messages {
    text-align: left;
}
